## Python List
- Python List falls under the compound data types i.e. they are composed of one or more basic data types.
- It means, A List is a sequence collection of different objects such as integers, strings, and even other lists as well.
- Python Lists are represented with square brackets.
  - Example: `["item1", 2, "item3", 4.0]`
- Unlike array, List can store data of multiple data types like string, integer, float, etc.
- Python Lists are also an ordered sequences.
  - It means the items have a defined order, and that order will not change.
  - If you add new items to a list, the new items will be placed at the end of the list.

- Unlike Strings, Lists are mutable meaning, we can change, add, and remove items in a list after  it is created.

- Similar to Strings, we can perform loop through items in a list.

- In this lecture we'll cover:
  - Creating Lists
  - Indexing Lists
  - Slicing Lists
  - Lists are mutable
  - List methods
  - Join Lists
  - Loop Lists
  - List Comprehension
  - List exercise

### 1. Creating Lists
- To create a list, type the list items within square brackets **[]**, separated by commas.
- Example: ["item1", 2, 'item3', 4]

- List can be categorized into 2 types:
  1. simple list:
    - Example: [1, 2, 3, 4]
  2. Nested list: 
    - They list within list.
    - Also called as 2D list.
    - Example: [[1, 2], [3, 4]]

In [1]:
# create simple list with mixed data types
simple_list = ['item1', 2, 'item2', 4]
print(simple_list)

['item1', 2, 'item2', 4]

In [2]:
# display type 
type(simple_list)

list

In [3]:
# display length of list
# Hint: len(list)
print(len(simple_list))

4

In [4]:
# create nested list
sample_list = [[1,'xyz'], [4,3,'abc']]
print(sample_list)

[[1, 'xyz'], [4, 3, 'abc']]

In [5]:
# display type of nested list
type(sample_list)

list

In [6]:
# display length of nested list
# Hint: len() 
print(len(sample_list))

2

**List creation from Strings**
- use .split() method

In [26]:
# Initialize any non-empty string
#
# split string to create list
string = 'ktm, kathmandu'
print(string.split())

['ktm,', 'kathmandu']

###2. Indexing Lists
- Indexing works similar to that of Strings.
- As we know, list is a sequenced collection of different objects such as Strings, Integer, etc.
- The address of each element within a list is called an index.
- An index is used to access and refer to items within a list.

  <img src='https://drive.google.com/uc?id=1SB5gGtnvQp3Fx0gG9YruM4VgmAe-HDQc' width='400'>

**positive indexing**

In [12]:
# initialize simple list of length 5
simple_list = [1,'teat', '4', 'asdf','kathmandu']
print(len(simple_list))

5

In [34]:
# print 1st item using positive index
simple_list = [1,'teat', 4, 'asdf','kathmandu']
print(simple_list[0])

1

In [33]:
# print 3rd item using positive index
print(simple_list[2])

4

In [31]:
# print last item using positive index

print(simple_list[4])

kathmandu

`Now lets try to index nested list`

In [24]:
# initialize nested list of length 5
listed = [['ktm',28], ['ramesh','koirala'], [22, 23],['ram','sita'], ['kmc', 9]]
print(listed)

[['ktm', 28], ['ramesh', 'koirala'], [22, 23], ['ram', 'sita'], ['kmc', 9]]

In [30]:
# practice indexing
listed = [['ktm',28], ['ramesh','koirala'], [22, 23],['ram','sita'], ['kmc', 9]]
print(listed[1])

['ramesh', 'koirala']

**negative indexing**

In [35]:
# reinitialize simple list of length 5
nested_list = [['ktm',28], ['ramesh','koirala'], [22, 23],['ram','sita'], ['kmc', 9]]
print(nested_list)

[['ktm', 28], ['ramesh', 'koirala'], [22, 23], ['ram', 'sita'], ['kmc', 9]]

In [38]:
# print 1st item using negative index
print(nested_list[-5])

['ktm', 28]

In [39]:
# print 3rd item using negative index
print(nested_list[-3])

[22, 23]

In [40]:
# print last item using negative index
print(nested_list[-1])

['kmc', 9]

### 3. Slicing Lists
- Slicing Lists means extracting part of list items.
- Concepts of Slicing Lists is similar to Slicing Strings.
- `Syntax: list[start:end:step]`

  <img src='https://drive.google.com/uc?id=1j7BjHU8MmE0LFv1Qls9F-4h3NheDoLAD' width='500'>

**case 1: when step is positive**

In [41]:
# initialize simple list (refer to above example)
listed = ['Ramesh', 'Hari', '28', '30']
print(listed)

['Ramesh', 'Hari', '28', '30']

In [43]:
# slice first 3 items using positive index
print(listed[:3])

['Ramesh', 'Hari', '28']

In [47]:
# slice last 3 items using negative index
print(listed[-3:])

['Hari', '28', '30']

In [62]:
# get list item at even index
# e.g. ['S', 'r', 'n', ' ', 'n', 'e', i]
listed = ['S', 'r', 'n', ' ', 'n', 'e', 'i']
 
#print("The original list is : " + str(test_list))
 
for i in range(0, len(listed), 2):
    print(listed[i])

S
n
n
i

**case 2: when step is negative**

In [63]:
# slice first 3 list items using positive index
print(listed[:3])

['S', 'r', 'n']

In [64]:
# slice last 3 list items using negative index
print(listed[-3:])

['n', 'e', 'i']

In [65]:
# reverse list
# output: ['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']
string = ['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']
print(string[::-1])

['S', 't', 'r', 'i', 'n', 'g', ' ', 'I', 'n', 'd', 'e', 'x', 'i', 'n']

['n', 'i', 'x', 'e', 'd', 'n', 'I', ' ', 'g', 'n', 'i', 'r', 't', 'S']

###4. Lists are mutable
- Unlike Strings, Lists are mutable
- It means we can change list items after its creation.

In [78]:
# verify lists are mutable
mutable_list = ['hi', 'i', 'am', 'mutable']
print(mutable_list)
mutable_list.append('person')
print(mutable_list)

['hi', 'i', 'am', 'mutable']
['hi', 'i', 'am', 'mutable', 'person']

In [79]:
# change first item 'hi' to 'hello'
mutable_list[0]="Hello"
print(mutable_list)

['Hello', 'i', 'am', 'mutable', 'person']

Assigning new value, we didn't got error. We can say Lists are mutable.

###5. List Methods
- Most common Lists methods are:
  - `append()`: Methods to add an item to the end of the list.
  - `insert()`: Methods to add an item to list at a specified index.
  - `extend()`: Methods to append elements from another list to the current list
  - `remove()`: Methods to remove the specified item using item name.
  - `pop()`: Methods to remove the list item using index. By Default pop takes up the last index.
  - `reverse()`: Methods to reverse list.
  - `sort()`: Methods to sort the string either in ascending order or descending order.

In [80]:
# Create a new list

list1 = [1, 2, 3, 4]
print(list1)

[1, 2, 3, 4]

In [83]:
# add new item to the end of a list
# Hint: list.append(<item>)
list1.append(6)
print(list1)

[1, 2, 3, 4, 6, 6, 6]

In [84]:
# add new item at index 1 using insert()
# Hint: list1.insert(<index>, <item_to_insert>)
list1.insert(2,'arun')
print(list1)

[1, 2, 'arun', 3, 4, 6, 6, 6]

`If we run insert() methods multiple times, then item will be added at specified index and length of list will grow accordingly.`

In [86]:
# Given two list i.e. list1 and list2
# extend list1 with item from list 2
# Hint: list1.extend(list2)
list1 = [1,2,3,4,5]
list2 = ['Ramesh','Hari','Sita']
list1.extend(list2)
print(list1)

[1, 2, 3, 4, 5, 'Ramesh', 'Hari', 'Sita']

In [87]:
# remove specific item from list
# Hint: list.remove(<item_name>)
list1.remove('Hari')
print(list1)

[1, 2, 3, 4, 5, 'Ramesh', 'Sita']

In [91]:
# remove item at index 1 of list
# Hint: list1.pop(<index>)
list1.pop(1)
print(list1)

[1, 3, 4, 'Ramesh', 'Sita']

In [92]:
# remove last item from list
# Hint: list1.pop()
list1.pop(4)
print(list1)

[1, 3, 4, 'Ramesh']

In [93]:
# reverse list
# Hint: list.reverse()
list1.reverse()
print(list1)

['Ramesh', 4, 3, 1]

In [16]:
# sort list in ascending order
# hint: list.sort()
list1 = [4,5, 1,3, 2, 'Ramesh', 'Hari', 'Sita']
list1 = [str(x) for x in list1]
list1.sort()
print(list1)

['1', '2', '3', '4', '5', 'Hari', 'Ramesh', 'Sita']

In [10]:
# sort list in descending order
# hint: list.sort(reverse=True)
list1 = [1, 2, 3, 4, 5, 'Ramesh', 'Hari', 'Sita']
list1 = [str(x) for x in list1]
list1.sort(reverse=True)
print(list1)

['Sita', 'Ramesh', 'Hari', '5', '4', '3', '2', '1']

### 6. Join Lists
- Given list, how can we join the list items?
- Technique to convert list to string.
- `Example:`
  - input_list = ['hello', 'world']
  - ouput_list = "hello world"

- **syntax:** `result = separator.join(<list>)

  where, separator is the string that will be used to separate the elements in the resulting string.

In [17]:
# create new list
listed = ['Hello', 'World','Kathmandu']
print(listed)

['Hello', 'World', 'Kathmandu']

In [19]:
# join list by space to form new string
# Hint: " ".join(<list>)
x = " ".join(listed)
print(x)

Hello World Kathmandu

### 7. Loop Lists

- Similar to Strings, you can also loop through list items using a **for** loop.

`Q. Initialize List and print list items one by one using for loop.`

In [21]:
# create list
list1 = ['Hello','Kathmandu','Nepal','Located','in','Nepal']

# loop through list items
for i in list1:
    print(i)

Hello
Kathmandu
Nepal
Located
in
Nepal

In [26]:
# loop through list items using enumerate()
for index, item in enumerate(list1):
    print(f"{item}")

Hello
Kathmandu
Nepal
Located
in
Nepal

We will experiment other ways of looping using **range()** function and **while** loop in Loop Chapter.

### 8. List Comprehension
- List comprehension offers the shortest syntax for looping through lists.
- Syntax: **newlist = [expression for item in iterable if condition == True]**


`Q.1 Write a python program to lowercase item in given list using list comprehension.`
  - Input: sample_list = ["APPLE", "Mango", "BaNaNa", "GRapes"]
  - Output: lower_list = ["apple", "mango", "banana", "grapes"]

`Q.2 Given list of fruits i.e. fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee'], Create new list named fruit_list removing item which is not fruit. Example = coffee.`

`Q.3 `

In [27]:
## write your program (for Q1)
#Write a program to lowercase item in given list using list comprehension.
simple_list = ["APPLE","Mango","BaNaNa","GRapes"]
simple_list = [item.lower() for item in simple_list]
print(simple_list)

['apple', 'mango', 'banana', 'grapes']

In [28]:
## write your program (for Q2)
#Given list of fruits i.e fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee'], Create new list name fruit_list removing item which is not fruit. Example = coffee
fruit_list = ['apple', 'mango', 'banana', 'grapes', 'coffee']
fruits = ['apple', 'mango', 'banana', 'grapes']
filtered_fruit_list = [fruit for fruit in fruit_list if fruit in fruits]
print(filtered_fruit_list)

['apple', 'mango', 'banana', 'grapes']

### 9. List exercise

**Q.1 Write a python program that initializes non empty list of words with length = 5. Display longest word with its length.**

  `sample_list: ['mango', 'banana', 'kiwi', 'apple', 'grapes']`  
  `output: banana, 6`  

**Q.2 Write a python program to sum all the items in a list.**

  `sample_list: [1, 2, 3, 4, 5]`
  `output: sum = 15`


**Q.3 Write a python program to get the largest number from a list.**

  `sample_list: [10, 20, 30, 100, 40]`  
  `output: largest number = 100`


**Q.4 Write a python program to get the smallest number from a list.**

  `sample_list: [-1, 0, 1, 2]`
  `output: smallest number = -1`

**Q.5 Write a Python program to count the number of strings where the string length is 2 or more and the first and last character are same from a given list of strings.**

  `Input: sample_list = ['abc', 'xyz', 'aba', '1221']`  
  `output: str_count = 2`

**Q.6 Write a python program to check a list is empty or not.**

**Q.7 Write a python program to insert a given string at the beginning of all items in a list.**

  `sample_list = [1, 2, 3, 4]`  
  `str_to_inser = "emp"`  
  `output_list = ['emp1', 'emp2', 'emp3', 'emp4']`