In [2]:
! pip install bs4

Requirement already satisfied: bs4 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from beautifulsoup4->bs4) (2.4.1)

WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [3]:
! pip install requests

Requirement already satisfied: requests in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from requests) (2023.5.7)

WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [4]:
! pip install pandas

Requirement already satisfied: pandas in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (2.1.4)
Requirement already satisfied: numpy<2,>=1.22.4 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from pandas) (1.23.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\arun\appdata\local\programs\python\python39\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)
WARNING: Ignoring invalid distribution -jango (c:\users\arun\appdata\local\programs\python\python39\lib\site-packages)

[notice] A new release of pip is available: 23.3.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [8]:
import requests
from bs4 import BeautifulSoup

In [9]:
url = 'https://www.worldometers.info/coronavirus/'
x = requests.get(url)
print(x)

<Response [200]>

In [10]:
soup = BeautifulSoup(x.content, 'html.parser')
print(soup.prettify())[:5000]

<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
 <!--<![endif]-->
 <head>
  <meta charset="utf-8"/>
  <meta content="IE=edge" http-equiv="X-UA-Compatible"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   COVID - Coronavirus Statistics - Worldometer
  </title>
  <meta content="Daily and weekly updated statistics tracking the number of COVID-19 cases, recovered, and deaths. Historical data with cumulative charts, graphs, and updates." name="description"/>
  <!-- Favicon -->
  <link href="/favicon/favicon.ico" rel="shortcut icon" type="image/x-icon"/>
  <link href="/favicon/apple-icon-57x57.png" rel="apple-touch-icon" sizes="57x57"/>
  <link href="/favicon/apple-icon-60x60.png" rel="apple-touch-icon" sizes="60x60"/>
  <link href="/favicon/apple-icon-72x72.png" rel="apple-touch-icon" sizes="72x72"/>
  <link href="/favicon/apple-icon-76x76.png" rel="apple-touch-icon" sizes="76x76"/>
  <link href="/favicon/apple-icon-114x114.png" rel="apple-touch-icon" sizes="114x114"/>
  <link href="/favicon/apple-icon-120x120.png" rel="apple-touch-icon" sizes="120x120"/>
  <link href="/favicon/apple-icon-144x144.png" rel="apple-touch-icon" sizes="144x144"/>
  <link href="/favicon/apple-icon-152x152.png" rel="apple-touch-icon" sizes="152x152"/>
  <link href="/favicon/apple-icon-180x180.png" rel="apple-touch-icon" sizes="180x180"/>
  <link href="/favicon/android-icon-192x192.png" rel="icon" sizes="192x192" type="image/png"/>
  <link href="/favicon/favicon-32x32.png" rel="icon" sizes="32x32" type="image/png"/>
  <link href="/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
  <link href="/favicon/favicon-16x16.png" rel="icon" sizes="16x16" type="image/png"/>
  <link href="/favicon/manifest.json" rel="manifest"/>
  <meta content="#ffffff" name="msapplication-TileColor"/>
  <meta content="/favicon/ms-icon-144x144.png" name="msapplication-TileImage"/>
  <meta content="#ffffff" name="theme-color"/>
  <!-- og image -->
  <meta content="http://www.worldometers.info/img/worldometers-fb.jpg" property="og:image">
   <!-- Bootstrap -->
   <link href="/css/bootstrap.min.css" rel="stylesheet"/>
   <link href="/wm16.css" rel="stylesheet"/>
   <!-- font awesome -->
   <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet"/>
   <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
   <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
   <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>-->
   <script src="/js/jquery.min.js">
   </script>
   <!-- Include all compiled plugins (below), or include individual files as needed -->
   <script src="/js/bootstrap.min.js">
   </script>
   <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
   <script src="/js/ie10-viewport-bug-workaround.js">
   </script>
   <!-- tables
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/s/bs-3.3.5/dt-1.10.10,fh-3.1.0,r-2.0.0/datatables.min.js"></script>


<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.css"/>

<script type="text/javascript" src="https://cdn.datatables.net/s/dt/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
 -->
   <link href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css" rel="stylesheet" type="text/css">
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js" type="text/javascript">
    </script>
    <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js" type="text/javascript">
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example2').dataTable( {
        "scrollCollapse": true,
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#table3').dataTable( {
        "scrollCollapse": true,
				 "order": [[ 1, 'desc' ]],
		"sDom": '<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $.extend( $.fn.dataTable.defaults, {
    responsive: true
} );

	$(document).ready(function() {
    $('#example').dataTable( {
        "scrollCollapse": true,
		"searching": false,

		"sDom": '<"top">rt<"bottom"flp><"clear">',
        "paging":         false
    } );
} );
    </script>
    <script class="init" type="text/javascript">
     $(document).ready(function() {
	$('#popbycountry').dataTable();
} );
    </script>
   </link>
  </meta>
 </head>
 <body>
  <!-- Google tag (gtag.js) -->
  <script async="" src="https://www.googletagmanager.com/gtag/js?id=G-ZDP3BFSX60">
  </script>
  <script>
   window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-ZDP3BFSX60');
  </script>
  <script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3701697624350410">
  </script>
  <style type="text/css">
   .style1 {
        color: #666666
    }
  </style>
  <div class="navbar navbar-default">
   <div class="container">
    <div class="navbar-header">
     <div class="logo">
      <a class="navbar-brand" href="/">
       <img border="0" src="/img/worldometers-logo.gif" title="Worldometer"/>
      </a>
     </div>
     <button class="navbar-toggle" data-target="#navbar-main" data-toggle="collapse" type="button">
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
      <span class="icon-bar">
      </span>
     </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
     <ul class="nav navbar-nav">
      <li>
       <a href="/coronavirus/">
        Coronavirus
       </a>
      </li>
      <li>
       <a href="/population/">
        Population
       </a>
      </li>
     </ul>
    </div>
   </div>
  </div>
  <!-- MAIN -->
  <div class="container">
   <!-- TOP AD -->
   <div class="row">
    <div style="padding-top:15px; padding-bottom:15px; text-align:center;">
     <script async="" crossorigin="anonymous" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3701697624350410">
     </script>
     <!-- wm-top-24 -->
     <ins class="adsbygoogle" data-ad-client="ca-pub-3701697624350410" data-ad-format="auto" data-ad-slot="5369103488" data-full-width-responsive="true" style="display:block">
     </ins>
     <script>
      (adsbygoogle = window.adsbygoogle || []).push({});
     </script>
    </div>
   </div>
   <!-- TOP AD -->
   <!-- MAIN  -->
   <!-- CENTER -->
   <div class="row">
    <div class="col-md-8">
     <!-- *** CONTENT A *** -->
     <div class="content-inner">
      <style>
       .number-table {
        font-size: 20px;
        font-weight: bold
    }

    .number-table-main {
        font-size: 24px;
        font-weight: bold
    }
      </style>
      <!-- charts -->
      <script src="/js/highcharts.js">
      </script>
      <style type="text/css">
       .source {}

    .style2 {
        color: #FF0000
    }

    .style4 {
        color: #FF0000;
        font-weight: bold;
    }

    .style6 {
        font-size: 12px;
        color: #bbb;
        font-weight: bold;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source1 {
        font-size: 12px;
        color: #bbb;
    }

    .source11 {
        font-size: 12px;
        color: #bbb;
    }

    .source111 {}

    .source1111 {
        font-size: 12px;
        color: #bbb;
    }


    .new_badge {

        position: absolute;
        font-size: 12px;
        top: -5px;
        right: -26px;
        background-color: #8ACA2B;
        color: white;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }

    .new_badge_link {

        background-color: #8ACA2B;
        color: white !important;
        padding-left: 4px;
        padding-right: 4px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-radius: 4px;
        ;
    }
      </style>
      <div class="label-counter" id="page-top">
       COVID-19 Coronavirus Pandemic
      </div>
      <div style="font-size:13px; color:#999; margin-top:5px; text-align:center">
       Last updated: March 05, 2024, 01:01 GMT
      </div>
      <div style="margin-top:20px; text-align:center; font-size:14px">
       <a class="new_badge_link" href="/coronavirus/weekly-trends/" style="display: inline-block; position:relative;">
        Weekly Trends
       </a>
       -
       <a href="/coronavirus/worldwide-graphs/">
        Graphs
       </a>
       -
       <a href="#countries">
        Countries
       </a>
       -
       <a href="#news">
        News
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Coronavirus Cases:
       </h1>
       <div class="maincounter-number">
        <span style="color:#aaa">
         703,880,433
        </span>
       </div>
      </div>
      <div style="text-align:center ">
       <a href="#countries">
        view by country
       </a>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px">
       <h1>
        Deaths:
       </h1>
       <div class="maincounter-number">
        <span>
         7,003,629
        </span>
       </div>
      </div>
      <div id="maincounter-wrap" style="margin-top:15px;">
       <h1>
        Recovered:
       </h1>
       <div class="maincounter-number" style="color:#8ACA2B ">
        <span>
         674,814,670
        </span>
       </div>
      </div>
      <div style="margin-top:50px;">
      </div>
      <!-- START -->
      <style>
       .panel_flip {
        position: relative;
        height: 100%;
    }

    .panel_front {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_back {

        height: inherit;
        position: absolute;
        top: 0;
        -webkit-transform: rotateY(-180deg);
        -moz-transform: rotateY(-180deg);
        -webkit-transform-style: preserve-3d;
        -moz-transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -webkit-transition: all .4s ease-in-out;
        -moz-transition: all .4s ease-in-out;
        -ms-transition: all .4s ease-in-out;
        -o-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }

    .panel_flip.flip .panel_front {

        z-index: 900;
        -webkit-transform: rotateY(180deg);
        -moz-transform: rotateY(180deg);
    }

    .panel_flip.flip .panel_back {

        z-index: 1000;
        -webkit-transform: rotateX(0deg) rotateY(0deg);
        -moz-transform: rotateX(0deg) rotateY(0deg);
    }

    .collapse_button {

        position: absolute;
        right: 10px;
        pointer-events: none;
        color: #70757a !important;
        height: 24px;
        width: 24px;
        line-height: 24px;
    }

    .collapse_button svg {
        display: block;
        height: 100%;
        width: 100%;
        fill: currentColor;
    }

    .rotate_180 {

        transform: rotate(180deg);
    }

    .panel_clickable {

        cursor: pointer;
    }
      </style>
      <script>
       var do_not_slide = false;
    $(function() {

        $('.flip_cases_front').on('click', function() {


            $(this).parent().parent().addClass('flip');
        });

        $('.flip_cases_back').on('click', function() {


            $(this).parent().parent().removeClass('flip');
        });


        $('.collapse').on('show.bs.collapse', function(el) {


            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.addClass('rotate_180');

            if (do_not_slide) {

                return;
            }

            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('show');
            } else {

                $('#panel_active').collapse('show');
            }

            do_not_slide = false;
        });

        $('.collapse').on('hide.bs.collapse', function(el) {

            var collapse_button = $(el.target).parent().find('.collapse_button');
            collapse_button.removeClass('rotate_180');


            if (do_not_slide) {

                return;
            }


            do_not_slide = true;
            if ($(el.target).attr('id') == 'panel_active') {

                $('#panel_closed').collapse('hide');
            } else {

                $('#panel_active').collapse('hide');
            }

            do_not_slide = false;

        });



    });
      </script>
      <div class="col-md-6">
       <div class="panel panel-default">
        <div aria-controls="panel_active" aria-expanded="false" class="panel_clickable panel-heading" data-toggle="collapse" href="#panel_active" style="text-align:center;position:relative;">
         <span class="panel-title" style="font-size:18px; text-transform:uppercase; font-weight:100">
          Active Cases
         </span>
         <span class="collapse_button">
          <svg focusable="false" viewbox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
           <path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z">
           </path>
          </svg>
         </span>
        </div>
        <div class="collapse" id="panel_active">
         <div class="panel-body" style="text-align:center;min-height:220px;">
          <div class="panel_flip">
           <div class="panel_front" style="width:100%;height:100%;">
            <div class="number-table-main">
             22,062,134
            </div>
            <div style="font-size:13.5px">
             Currently Infected Patients
            </div>
            <div style="padding-top:20px;position:relative;text-align:center; ">
             <div style="float:left; text-align:center">
              <span class="number-table" style="color:#8080FF">
               22,026,670
              </span>
              (
              <strong>
               99.8
              </strong>
              %)
              <div style="font-size:13px">
               in Mild Condition
              </div>
              <br/>
             </div>
             <div style="float:right; text-align:center">
              <span class="number-table" style="color:red ">
               35,464
              </span>
              (
              <strong>
               0.2
              </strong>
              %)
              <div style="font-size:13px">
               Serious or Critical
              </div>
              <br/>
             </div>
            </div>
            <a class="flip_cases_front" href="javascript: void(0);" style="clear: both;display: block;padding-top:20px;width:100%;">
             Show Graph
            </a>
           </div>
           <div class="panel_back" style="width:100%;height:100%;">
            <div id="total-currently-infected-linear">
            </div>
            <script type="text/javascript">
             Highcharts.setOptions({
        lang: {
            thousandsSep: ','
        }
    });

    var y_labels = ['0', '20,000', '40,000', '60,000', '140', '180', '200', '240'];
    Highcharts.chart('total-currently-infected-linear', {


        chart: {
            type: 'line',
            height: (9 / 16 * 100) + '%'
        },

        title: {
            text: null

        },

        /*subtitle: {
            text: '(Number of Infected People)'
        },*/

        xAxis: {

TypeError: 'NoneType' object is not subscriptable

In [11]:
y = soup.find('table', id='main_table_countries_today')
print(y)

<table class="table table-bordered table-hover main_table_countries" id="main_table_countries_today" style="width:100%;margin-top: 0px !important;display:none;">
<thead>
<tr>
<th width="1%">#</th>
<th width="100">Country,<br>Other</br></th>
<th width="20">Total<br>Cases</br></th>
<th width="30">New<br>Cases</br></th>
<th width="30">Total<br>Deaths</br></th>
<th width="30">New<br>Deaths</br></th>
<th width="30">Total<br>Recovered</br></th>
<th width="30">New<br>Recovered</br></th>
<th width="30">Active<br>Cases</br></th>
<th width="30">Serious,<br>Critical</br></th>
<th width="30">TotCases/<br/>1M pop</th>
<th width="30">Deaths/<br/>1M pop</th>
<th width="30">Total<br/>Tests</th>
<th width="30">Tests/<br/>
<nobr>1M pop</nobr>
</th>
<th width="30">Population</th>
<th style="display:none" width="30">Continent</th>
<th width="30">1 Case<br/>every X ppl</th><th width="30">1 Death<br/>every X ppl</th><th width="30">1 Test<br/>every X ppl</th>
<th width="30">New Cases/1M pop</th>
<th width="30">New Deaths/1M pop</th>
<th width="30">Active Cases/1M pop</th>
</tr>
</thead>
<tbody>
<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>131,614,510</td>
<td></td>
<td>1,692,258</td>
<td></td>
<td>127,150,727</td>
<td>+665</td>
<td>2,771,525</td>
<td>6,699</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>221,467,169</td>
<td></td>
<td>1,553,255</td>
<td></td>
<td>205,659,245</td>
<td>+306</td>
<td>14,254,669</td>
<td>14,733</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>253,232,601</td>
<td></td>
<td>2,100,643</td>
<td></td>
<td>248,565,768</td>
<td>+165</td>
<td>2,566,190</td>
<td>4,510</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>69,859,756</td>
<td></td>
<td>1,365,807</td>
<td></td>
<td>66,650,237</td>
<td></td>
<td>1,843,712</td>
<td>8,953</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>14,845,389</td>
<td>+1,104</td>
<td>32,767</td>
<td></td>
<td>14,697,196</td>
<td></td>
<td>115,426</td>
<td>40</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,860,287</td>
<td></td>
<td>258,884</td>
<td></td>
<td>12,090,791</td>
<td></td>
<td>510,612</td>
<td>529</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>703,880,433</td>
<td>+1,104</td>
<td>7,003,629</td>
<td>0</td>
<td>674,814,670</td>
<td>+1,136</td>
<td>22,062,134</td>
<td>35,464</td>
<td>90,301</td>
<td>898.5</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">111,560,998</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,216,375                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">109,323,566</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,021,057</td>
<td style="font-weight: bold; text-align:right">1,544</td>
<td style="font-weight: bold; text-align:right">333,212</td>
<td style="font-weight: bold; text-align:right">3,633</td>
<td style="font-weight: bold; text-align:right">1,186,765,074</td>
<td style="font-weight: bold; text-align:right">3,544,643</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>275</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,050</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">45,030,332</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">533,496                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">32,013</td>
<td style="font-weight: bold; text-align:right">379</td>
<td style="font-weight: bold; text-align:right">935,879,495</td>
<td style="font-weight: bold; text-align:right">665,334</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,637</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">0.8</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">40,138,560</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">167,642                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,970,918</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">612,013</td>
<td style="font-weight: bold; text-align:right">2,556</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>391</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,822,474</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">182,649                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,240,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">399,225</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">462,814</td>
<td style="font-weight: bold; text-align:right">2,177</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>459</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4,759</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">38,452,504</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">709,963                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,493,380</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">178,555</td>
<td style="font-weight: bold; text-align:right">3,297</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>303</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">6,935</td>
</tr>
<tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">34,571,873</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">35,934                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">34,535,939</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">673,523</td>
<td style="font-weight: bold; text-align:right">700</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>1</td><td>1,428</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,803,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74,694                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">269,169</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">100,414,883</td>
<td style="font-weight: bold; text-align:right">799,578</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,681</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">95,582</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">26,719,511</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">196,348                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">26,351,971</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">171,192</td>
<td style="font-weight: bold; text-align:right">45</td>
<td style="font-weight: bold; text-align:right">443,383</td>
<td style="font-weight: bold; text-align:right">3,258</td>
<td style="font-weight: bold; text-align:right">280,517,410</td>
<td style="font-weight: bold; text-align:right">4,654,904</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>307</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,841</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,902,971</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">232,112                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,666,932</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">3,927</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">363,558</td>
<td style="font-weight: bold; text-align:right">3,389</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>295</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">57</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">23,983,769</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">402,329                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">23,397,709</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">183,731</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">164,491</td>
<td style="font-weight: bold; text-align:right">2,759</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>362</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,260</td>
</tr>
<tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>

In [12]:
z = soup.find('tbody').find_all('tr')
print(z)

[<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>131,614,510</td>
<td></td>
<td>1,692,258</td>
<td></td>
<td>127,150,727</td>
<td>+665</td>
<td>2,771,525</td>
<td>6,699</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="Asia" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Asia</nobr>
</td>
<td>221,467,169</td>
<td></td>
<td>1,553,255</td>
<td></td>
<td>205,659,245</td>
<td>+306</td>
<td>14,254,669</td>
<td>14,733</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Asia" style="display:none;">Asia</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="Europe" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Europe</nobr>
</td>
<td>253,232,601</td>
<td></td>
<td>2,100,643</td>
<td></td>
<td>248,565,768</td>
<td>+165</td>
<td>2,566,190</td>
<td>4,510</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Europe" style="display:none;">Europe</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="South America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>South America</nobr>
</td>
<td>69,859,756</td>
<td></td>
<td>1,365,807</td>
<td></td>
<td>66,650,237</td>
<td></td>
<td>1,843,712</td>
<td>8,953</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="South America" style="display:none;">South America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="Australia/Oceania" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Oceania</nobr>
</td>
<td>14,845,389</td>
<td>+1,104</td>
<td>32,767</td>
<td></td>
<td>14,697,196</td>
<td></td>
<td>115,426</td>
<td>40</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Australia/Oceania" style="display:none;">Australia/Oceania</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="Africa" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>Africa</nobr>
</td>
<td>12,860,287</td>
<td></td>
<td>258,884</td>
<td></td>
<td>12,090,791</td>
<td></td>
<td>510,612</td>
<td>529</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="Africa" style="display:none;">Africa</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world row_continent" data-continent="" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr></nobr>
</td>
<td>721</td>
<td></td>
<td>15</td>
<td></td>
<td>706</td>
<td></td>
<td>0</td>
<td>0</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="" style="display:none;"></td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr class="total_row_world">
<td></td>
<td style="text-align:left;">World</td>
<td>703,880,433</td>
<td>+1,104</td>
<td>7,003,629</td>
<td>0</td>
<td>674,814,670</td>
<td>+1,136</td>
<td>22,062,134</td>
<td>35,464</td>
<td>90,301</td>
<td>898.5</td>
<td></td>
<td></td>
<td></td>
<td data-continent="all" style="display:none">All</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">1</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/us/">USA</a></td>
<td style="font-weight: bold; text-align:right">111,560,998</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">1,216,375                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">109,323,566</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,021,057</td>
<td style="font-weight: bold; text-align:right">1,544</td>
<td style="font-weight: bold; text-align:right">333,212</td>
<td style="font-weight: bold; text-align:right">3,633</td>
<td style="font-weight: bold; text-align:right">1,186,765,074</td>
<td style="font-weight: bold; text-align:right">3,544,643</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/us-population/">334,805,269</a> </td>
<td data-continent="North America" style="display:none">North America</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>275</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">3,050</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">2</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/india/">India</a></td>
<td style="font-weight: bold; text-align:right">45,030,332</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">533,496                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">32,013</td>
<td style="font-weight: bold; text-align:right">379</td>
<td style="font-weight: bold; text-align:right">935,879,495</td>
<td style="font-weight: bold; text-align:right">665,334</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/india-population/">1,406,631,776</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>31</td><td>2,637</td><td>2</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">0.8</td>
</tr>, <tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">3</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/france/">France</a></td>
<td style="font-weight: bold; text-align:right">40,138,560</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">167,642                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">39,970,918</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">612,013</td>
<td style="font-weight: bold; text-align:right">2,556</td>
<td style="font-weight: bold; text-align:right">271,490,188</td>
<td style="font-weight: bold; text-align:right">4,139,547</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/france-population/">65,584,518</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>391</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">4</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/germany/">Germany</a></td>
<td style="font-weight: bold; text-align:right">38,822,474</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">182,649                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">38,240,600</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">399,225</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">462,814</td>
<td style="font-weight: bold; text-align:right">2,177</td>
<td style="font-weight: bold; text-align:right">122,332,384</td>
<td style="font-weight: bold; text-align:right">1,458,359</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/germany-population/">83,883,596</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>459</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">4,759</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">5</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/brazil/">Brazil</a></td>
<td style="font-weight: bold; text-align:right">38,452,504</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">709,963                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">36,249,161</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">1,493,380</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">178,555</td>
<td style="font-weight: bold; text-align:right">3,297</td>
<td style="font-weight: bold; text-align:right">63,776,166</td>
<td style="font-weight: bold; text-align:right">296,146</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/brazil-population/">215,353,593</a> </td>
<td data-continent="South America" style="display:none">South America</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>303</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">6,935</td>
</tr>, <tr style="background-color:#F0F0F0">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">6</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/south-korea/">S. Korea</a></td>
<td style="font-weight: bold; text-align:right">34,571,873</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">35,934                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">34,535,939</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">673,523</td>
<td style="font-weight: bold; text-align:right">700</td>
<td style="font-weight: bold; text-align:right">15,804,065</td>
<td style="font-weight: bold; text-align:right">307,892</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/south-korea-population/">51,329,899</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>1</td><td>1,428</td><td>3</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">7</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/japan/">Japan</a></td>
<td style="font-weight: bold; text-align:right">33,803,572</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">74,694                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">269,169</td>
<td style="font-weight: bold; text-align:right">595</td>
<td style="font-weight: bold; text-align:right">100,414,883</td>
<td style="font-weight: bold; text-align:right">799,578</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/japan-population/">125,584,838</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>4</td><td>1,681</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">95,582</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">8</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/italy/">Italy</a></td>
<td style="font-weight: bold; text-align:right">26,719,511</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">196,348                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">26,351,971</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">171,192</td>
<td style="font-weight: bold; text-align:right">45</td>
<td style="font-weight: bold; text-align:right">443,383</td>
<td style="font-weight: bold; text-align:right">3,258</td>
<td style="font-weight: bold; text-align:right">280,517,410</td>
<td style="font-weight: bold; text-align:right">4,654,904</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/italy-population/">60,262,770</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>2</td><td>307</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">2,841</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">9</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/uk/">UK</a></td>
<td style="font-weight: bold; text-align:right">24,902,971</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">232,112                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right"><span style="color:grey; font-style: italic;">24,666,932</span></td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">3,927</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">363,558</td>
<td style="font-weight: bold; text-align:right">3,389</td>
<td style="font-weight: bold; text-align:right">522,526,476</td>
<td style="font-weight: bold; text-align:right">7,628,357</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/uk-population/">68,497,907</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>3</td><td>295</td><td>0</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">57</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">10</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/russia/">Russia</a></td>
<td style="font-weight: bold; text-align:right">23,983,769</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">402,329                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">23,397,709</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="text-align:right;font-weight:bold;">183,731</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">164,491</td>
<td style="font-weight: bold; text-align:right">2,759</td>
<td style="font-weight: bold; text-align:right">273,400,000</td>
<td style="font-weight: bold; text-align:right">1,875,095</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/russia-population/">145,805,947</a> </td>
<td data-continent="Europe" style="display:none">Europe</td>
<!-- 1 Case/Death/Test every X -->
<td>6</td><td>362</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right"></td>
<td style="font-weight: bold; text-align:right">1,260</td>
</tr>, <tr style="">
<td style="font-size:12px;color: grey;text-align:center;vertical-align:middle;">11</td>
<td style="font-weight: bold; font-size:15px; text-align:left;"><a class="mt_a" href="country/turkey/">Turkey</a></td>
<td style="font-weight: bold; text-align:right">17,232,066</td>
<td style="font-weight: bold; text-align:right;"></td>
<td style="font-weight: bold; text-align:right;">102,174                                </td>
<td style="font-weight: bold;
                                    text-align:right;"></td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right;">N/A</td>
<td style="text-align:right;font-weight:bold;">N/A</td>
<td style="font-weight: bold; text-align:right">N/A</td>
<td style="font-weight: bold; text-align:right">201,399</td>
<td style="font-weight: bold; text-align:right">1,194</td>
<td style="font-weight: bold; text-align:right">162,743,369</td>
<td style="font-weight: bold; text-align:right">1,902,052</td>
<td style="font-weight: bold; text-align:right"><a href="/world-population/turkey-population/">85,561,976</a> </td>
<td data-continent="Asia" style="display:none">Asia</td>
<!-- 1 Case/Death/Test every X -->
<td>5</td><td>837</td><td>1</td>
<td style="font-weight: bold; text-align:right"></td>

In [27]:
for data in z:
    print(data)
    break

<tr class="total_row_world row_continent" data-continent="North America" style="display: none">
<td></td>
<td style="text-align:left;">
<nobr>North America</nobr>
</td>
<td>131,614,510</td>
<td></td>
<td>1,692,258</td>
<td></td>
<td>127,150,727</td>
<td>+665</td>
<td>2,771,525</td>
<td>6,699</td>
<td></td>
<td></td>
<td></td>
<td></td>
<td></td>
<td data-continent="North America" style="display:none;">North America</td>
<!-- 1 Case every X -->
<td>
</td>
<!-- 1 Death every X -->
<td></td>
<!-- 1 test every X -->
<td></td>
<td></td>
<td></td>
<td></td>
</tr>

In [13]:
column_names = [
    "Names",
    "Total Cases",
    "New Cases",
    "Total Deaths",
    "New Deaths",
    "Total Recovered",
    "New Recovered",
    "Active Cases",
    "Serious Cases",
    "Total tests",
    "Population"
]

In [16]:
complete_data = []
for i in range(8, len(z)):
    data = []
    list_data = z[i].find_all('td')
    for i in list_data:
        data.append(i.text)
    complete_data.append(data)
print(complete_data)

[['1', 'USA', '111,560,998', '', '1,216,375                                ', '', '109,323,566', '', '1,021,057', '1,544', '333,212', '3,633', '1,186,765,074', '3,544,643', '334,805,269 ', 'North America', '3', '275', '0', '', '', '3,050'], ['2', 'India', '45,030,332', '', '533,496                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '32,013', '379', '935,879,495', '665,334', '1,406,631,776 ', 'Asia', '31', '2,637', '2', '', '', '0.8'], ['3', 'France', '40,138,560', '', '167,642                                ', '', '39,970,918', '', '0', '', '612,013', '2,556', '271,490,188', '4,139,547', '65,584,518 ', 'Europe', '2', '391', '0', '', '', ''], ['4', 'Germany', '38,822,474', '', '182,649                                ', '', '38,240,600', '', '399,225', 'N/A', '462,814', '2,177', '122,332,384', '1,458,359', '83,883,596 ', 'Europe', '2', '459', '1', '', '', '4,759'], ['5', 'Brazil', '38,452,504', '', '709,963                                ', '', '36,249,161', '', '1,493,380', 'N/A', '178,555', '3,297', '63,776,166', '296,146', '215,353,593 ', 'South America', '6', '303', '3', '', '', '6,935'], ['6', 'S. Korea', '34,571,873', '', '35,934                                ', '', '34,535,939', '', '0', '', '673,523', '700', '15,804,065', '307,892', '51,329,899 ', 'Asia', '1', '1,428', '3', '', '', ''], ['7', 'Japan', '33,803,572', '', '74,694                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '269,169', '595', '100,414,883', '799,578', '125,584,838 ', 'Asia', '4', '1,681', '1', '', '', '95,582'], ['8', 'Italy', '26,719,511', '', '196,348                                ', '', '26,351,971', '', '171,192', '45', '443,383', '3,258', '280,517,410', '4,654,904', '60,262,770 ', 'Europe', '2', '307', '0', '', '', '2,841'], ['9', 'UK', '24,902,971', '', '232,112                                ', '', '24,666,932', '', '3,927', 'N/A', '363,558', '3,389', '522,526,476', '7,628,357', '68,497,907 ', 'Europe', '3', '295', '0', '', '', '57'], ['10', 'Russia', '23,983,769', '', '402,329                                ', '', '23,397,709', '', '183,731', 'N/A', '164,491', '2,759', '273,400,000', '1,875,095', '145,805,947 ', 'Europe', '6', '362', '1', '', '', '1,260'], ['11', 'Turkey', '17,232,066', '', '102,174                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '201,399', '1,194', '162,743,369', '1,902,052', '85,561,976 ', 'Asia', '5', '837', '1', '', '', '4,024'], ['12', 'Spain', '13,914,811', '', '121,760                                ', '', '13,762,417', '', '30,634', '231', '297,840', '2,606', '471,036,328', '10,082,298', '46,719,142 ', 'Europe', '3', '384', '0', '', '', '656'], ['13', 'Australia', '11,825,254', '+1,104', '24,289                                ', '', '11,789,903', '', '11,062', '12', '453,617', '932', '81,916,639', '3,142,326', '26,068,792 ', 'Australia/Oceania', '2', '1,073', '0', '42', '', '424'], ['14', 'Vietnam', '11,625,195', '', '43,206                                ', '', '10,640,971', '', '941,018', '', '117,481', '437', '85,826,548', '867,342', '98,953,541 ', 'Asia', '9', '2,290', '1', '', '', '9,510'], ['15', 'Taiwan', '10,241,523', '', '19,005                                ', '', '10,222,518', '', '0', '', '428,720', '796', '30,742,304', '1,286,903', '23,888,595 ', 'Asia', '2', '1,257', '1', '', '', ''], ['16', 'Argentina', '10,094,643', '', '130,733                                ', '', '9,963,910', '', '0', '', '219,400', '2,841', '35,716,069', '776,264', '46,010,234 ', 'South America', '5', '352', '1', '', '', ''], ['17', 'Netherlands', '8,634,822', '', '22,992                                ', '', '8,610,982', '', '848', 'N/A', '501,691', '1,336', '25,984,435', '1,509,718', '17,211,447 ', 'Europe', '2', '749', '1', '', '', '49'], ['18', 'Mexico', '7,702,809', '', '334,958                                ', '', '6,899,865', '', '467,986', 'N/A', '58,549', '2,546', '20,013,810', '152,124', '131,562,772 ', 'North America', '17', '393', '7', '', '', '3,557'], ['19', 'Iran', '7,626,527', '', '146,799                                ', '', 'N/A', 'N/A', 'N/A', '', '88,657', '1,707', '57,320,267', '666,338', '86,022,837 ', 'Asia', '11', '586', '2', '', '', '1,191'], ['20', 'Indonesia', '6,829,005', '', '162,062                                ', '', '6,647,104', '', '19,839', 'N/A', '24,465', '581', '114,158,919', '408,975', '279,134,505 ', 'Asia', '41', '1,722', '2', '', '', '71'], ['21', 'Poland', '6,660,562', '', '120,573                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '176,486', '3,195', '39,284,243', '1,040,924', '37,739,785 ', 'Europe', '6', '313', '1', '', '', '31,904'], ['22', 'Colombia', '6,400,173', '', '143,200                                ', '', '6,212,152', '', '44,821', '342', '124,244', '2,780', '36,951,507', '717,327', '51,512,762 ', 'South America', '8', '360', '1', '', '', '870'], ['23', 'Greece', '6,101,379', '', '37,869                                ', '', 'N/A', 'N/A', 'N/A', '', '591,412', '3,671', '102,228,365', '9,909,078', '10,316,637 ', 'Europe', '2', '272', '0', '', '', ''], ['24', 'Austria', '6,081,287', '', '22,542                                ', '', '6,054,934', '', '3,811', '', '670,727', '2,486', '211,273,524', '23,302,116', '9,066,710 ', 'Europe', '1', '402', '0', '', '', '420'], ['25', 'Portugal', '5,642,449', '', '28,103                                ', '', '5,614,102', '', '244', '61', '556,423', '2,771', '46,139,518', '4,549,993', '10,140,570 ', 'Europe', '2', '361', '0', '', '', '24'], ['26', 'Ukraine', '5,557,995', '', '112,418                                ', '', '5,445,577', '', '0', '', '128,681', '2,603', '32,603,805', '754,855', '43,192,122 ', 'Europe', '8', '384', '1', '', '', ''], ['27', 'Chile', '5,369,761', '', '64,497                                ', '', '5,252,450', '', '52,814', '7', '278,946', '3,350', '50,382,097', '2,617,225', '19,250,195 ', 'South America', '4', '298', '0', '', '', '2,744'], ['28', 'Malaysia', '5,276,312', '', '37,348                                ', '', '5,230,953', '', '8,011', '11', '159,016', '1,126', '68,580,916', '2,066,869', '33,181,072 ', 'Asia', '6', '888', '0', '', '', '241'], ['29', 'Canada', '4,933,311', '', '58,475                                ', '', '4,862,159', '+665', '12,677', '99', '128,510', '1,523', '66,572,774', '1,734,189', '38,388,419 ', 'North America', '8', '656', '1', '', '', '330'], ['30', 'Belgium', '4,859,804', '', '34,376                                ', '', '4,822,933', '+108', '2,495', 'N/A', '416,497', '2,946', '37,454,182', '3,209,915', '11,668,278 ', 'Europe', '2', '339', '0', '', '', '214'], ['31', 'Israel', '4,841,772', '', '12,707                                ', '', '4,798,473', '', '30,592', 'N/A', '519,169', '1,363', '41,373,364', '4,436,346', '9,326,000 ', 'Asia', '2', '734', '0', '', '', '3,280'], ['32', 'DPRK', '4,772,813', '', '74                                ', '', '4,772,739', '', '0', '', '183,636', '3', '', '', '25,990,679 ', 'Asia', '5', '351,225', '', '', '', ''], ['33', 'Thailand', '4,767,238', '', '34,567                                ', '', '4,692,636', '', '40,035', 'N/A', '68,027', '493', '17,273,454', '246,488', '70,078,203 ', 'Asia', '15', '2,027', '4', '', '', '571'], ['34', 'Czechia', '4,758,599', '', '43,508                                ', '', '4,714,365', '', '726', '2', '443,205', '4,052', '57,803,906', '5,383,726', '10,736,784 ', 'Europe', '2', '247', '0', '', '', '68'], ['35', 'Peru', '4,572,667', '', '222,161                                ', '', '4,350,506', '', '0', '4', '135,751', '6,595', '39,010,194', '1,158,115', '33,684,208 ', 'South America', '7', '152', '1', '', '', ''], ['36', 'Switzerland', '4,451,785', '', '14,452                                ', '', '4,436,453', '', '880', 'N/A', '507,405', '1,647', '23,833,472', '2,716,487', '8,773,637 ', 'Europe', '2', '607', '0', '', '', '100'], ['37', 'Philippines', '4,140,383', '', '66,864                                ', '', '4,067,381', '', '6,138', 'N/A', '36,800', '594', '36,102,746', '320,888', '112,508,994 ', 'Asia', '27', '1,683', '3', '', '', '55'], ['38', 'South Africa', '4,076,463', '', '102,595                                ', '', '3,912,506', '', '61,362', '192', '67,095', '1,689', '26,795,090', '441,027', '60,756,135 ', 'Africa', '15', '592', '2', '', '', '1,010'], ['39', 'Romania', '3,527,050', '', '68,894                                ', '', '3,456,088', '', '2,068', '41', '185,329', '3,620', '28,660,306', '1,505,954', '19,031,335 ', 'Europe', '5', '276', '1', '', '', '109'], ['40', 'Denmark', '3,183,756', '', '8,814                                ', '', '3,174,942', '', '0', '', '545,636', '1,511', '129,333,107', '22,165,247', '5,834,950 ', 'Europe', '2', '662', '0', '', '', ''], ['41', 'Singapore', '3,006,155', '', '2,024                                ', '', '3,002,907', '+306', '1,224', '4', '505,785', '341', '24,756,666', '4,165,302', '5,943,546 ', 'Asia', '2', '2,937', '0', '', '', '206'], ['42', 'Hong Kong', '2,930,929', '', '14,640                                ', '', '2,912,233', '', '4,056', 'N/A', '385,431', '1,925', '76,127,725', '10,011,143', '7,604,299 ', 'Asia', '3', '519', '0', '', '', '533'], ['43', 'Sweden', '2,753,556', '', '27,354                                ', '', '2,725,458', '+25', '744', 'N/A', '269,455', '2,677', '19,500,873', '1,908,301', '10,218,971 ', 'Europe', '4', '374', '1', '', '', '73'], ['44', 'Serbia', '2,614,248', '', '18,057                                ', '', '2,595,674', '', '517', '', '302,120', '2,087', '13,427,937', '1,551,822', '8,653,016 ', 'Europe', '3', '479', '1', '', '', '60'], ['45', 'New Zealand', '2,598,630', '', '5,574                                ', '', '2,588,718', '', '4,338', '', '530,527', '1,138', '7,768,604', '1,586,011', '4,898,203 ', 'Australia/Oceania', '2', '879', '1', '', '', '886'], ['46', 'Iraq', '2,465,545', '', '25,375                                ', '', '2,439,497', '', '673', '', '58,474', '602', '19,544,451', '463,523', '42,164,965 ', 'Asia', '17', '1,662', '2', '', '', '16'], ['47', 'Hungary', '2,229,987', '', '49,040                                ', '', '2,152,155', '', '28,792', '', '232,139', '5,105', '11,394,556', '1,186,160', '9,606,259 ', 'Europe', '4', '196', '1', '', '', '2,997'], ['48', 'Bangladesh', '2,048,186', '', '29,488                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '12,200', '176', '15,254,399', '90,862', '167,885,689 ', 'Asia', '82', '5,693', '11', '', '', '-175.64'], ['49', 'Slovakia', '1,877,383', '', '21,221                                ', '', '1,856,162', '', '0', '23', '343,831', '3,886', '7,448,789', '1,364,199', '5,460,193 ', 'Europe', '3', '257', '1', '', '', ''], ['50', 'Georgia', '1,855,289', '', '17,132                                ', '', 'N/A', 'N/A', 'N/A', '', '467,476', '4,317', '16,920,079', '4,263,340', '3,968,738 ', 'Asia', '2', '232', '0', '', '', '15,524'], ['51', 'Jordan', '1,746,997', '', '14,122                                ', '', '1,731,007', '', '1,868', '59', '169,597', '1,371', '17,201,885', '1,669,945', '10,300,869 ', 'Asia', '6', '729', '1', '', '', '181'], ['52', 'Ireland', '1,733,755', '', '9,481                                ', '', '1,723,629', '', '645', '19', '345,356', '1,889', '13,083,449', '2,606,161', '5,020,199 ', 'Europe', '3', '530', '0', '', '', '128'], ['53', 'Pakistan', '1,581,936', '', '30,664                                ', '', '1,538,689', '', '12,583', '', '6,893', '134', '30,589,153', '133,292', '229,488,994 ', 'Asia', '145', '7,484', '8', '', '', '55'], ['54', 'Finland', '1,515,575', '', '11,949                                ', '', '1,503,147', '+32', '479', 'N/A', '272,833', '2,151', '12,108,977', '2,179,850', '5,554,960 ', 'Europe', '4', '465', '0', '', '', '86'], ['55', 'Norway', '1,509,732', '', '6,638                                ', '', '1,503,024', '', '70', 'N/A', '273,930', '1,204', '11,002,430', '1,996,315', '5,511,370 ', 'Europe', '4', '830', '1', '', '', '13'], ['56', 'Kazakhstan', '1,411,831', '', '13,848                                ', '', '1,383,020', '', '14,963', '24', '73,514', '721', '11,575,012', '602,707', '19,205,043 ', 'Asia', '14', '1,387', '2', '', '', '779'], ['57', 'Lithuania', '1,396,666', '', '9,897                                ', '', '1,385,651', '', '1,118', 'N/A', '524,725', '3,718', '10,540,357', '3,959,997', '2,661,708 ', 'Europe', '2', '269', '0', '', '', '420'], ['58', 'Slovenia', '1,356,454', '', '7,100                                ', '', '1,349,283', '', '71', 'N/A', '652,758', '3,417', '2,847,701', '1,370,382', '2,078,034 ', 'Europe', '2', '293', '1', '', '', '34'], ['59', 'Bulgaria', '1,339,501', '', '38,737                                ', '', '1,292,640', '', '8,124', '36', '195,702', '5,660', '11,636,936', '1,700,164', '6,844,597 ', 'Europe', '5', '177', '1', '', '', '1,187'], ['60', 'Croatia', '1,309,728', '', '18,687                                ', '', '1,258,432', '', '32,609', '', '322,650', '4,604', '5,660,084', '1,394,355', '4,059,286 ', 'Europe', '3', '217', '1', '', '', '8,033'], ['61', 'Guatemala', '1,288,588', '', '20,285                                ', '', '1,265,533', '', '2,770', '5', '69,338', '1,092', '7,593,848', '408,622', '18,584,039 ', 'North America', '14', '916', '2', '', '', '149'], ['62', 'Morocco', '1,278,944', '', '16,301                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '33,859', '432', '13,001,033', '344,191', '37,772,756 ', 'Africa', '30', '2,317', '3', '', '', '172'], ['63', 'Lebanon', '1,243,838', '', '10,952                                ', '', '1,087,587', '', '145,299', '74', '186,068', '1,638', '4,795,578', '717,380', '6,684,849 ', 'Asia', '5', '610', '1', '', '', '21,736'], ['64', 'Costa Rica', '1,238,883', '', '9,428                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '239,058', '1,819', '4,659,757', '899,158', '5,182,354 ', 'North America', '4', '550', '1', '', '', '71,154'], ['65', 'Bolivia', '1,211,716', '', '22,407                                ', '', '1,177,145', '', '12,164', '220', '101,038', '1,868', '2,710,261', '225,993', '11,992,656 ', 'South America', '10', '535', '4', '', '', '1,014'], ['66', 'Tunisia', '1,153,361', '', '29,423                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '95,741', '2,442', '5,013,383', '416,164', '12,046,656 ', 'Africa', '10', '409', '2', '', '', '1,157'], ['67', 'Cuba', '1,115,243', '', '8,530                                ', '', '1,106,647', '', '66', '', '98,645', '754', '14,401,151', '1,273,801', '11,305,652 ', 'North America', '10', '1,325', '1', '', '', '6'], ['68', 'Ecuador', '1,070,188', '', '36,043                                ', '', '1,034,145', '', '0', '', '59,083', '1,990', '3,082,403', '170,173', '18,113,361 ', 'South America', '17', '503', '6', '', '', ''], ['69', 'UAE', '1,067,030', '', '2,349                                ', '', 'N/A', 'N/A', 'N/A', '', '105,837', '233', '200,732,262', '19,910,389', '10,081,785 ', 'Asia', '9', '4,292', '0', '', '', '1,007'], ['70', 'Panama', '1,059,893', '', '8,727                                ', '', '1,051,102', '', '64', '16', '238,341', '1,962', '7,882,622', '1,772,585', '4,446,964 ', 'North America', '4', '510', '1', '', '', '14'], ['71', 'Uruguay', '1,041,111', '', '7,664                                ', '', '1,030,944', '', '2,503', '18', '297,799', '2,192', '6,114,822', '1,749,083', '3,496,016 ', 'South America', '3', '456', '1', '', '', '716'], ['72', 'Mongolia', '1,011,459', '', '2,284                                ', '', '1,009,175', '', '0', 'N/A', '299,418', '676', '4,030,048', '1,193,000', '3,378,078 ', 'Asia', '3', '1,479', '1', '', '', ''], ['73', 'Nepal', '1,003,450', '', '12,031                                ', '', '991,322', '', '97', '', '33,199', '398', '6,047,766', '200,088', '30,225,582 ', 'Asia', '30', '2,512', '5', '', '', '3'], ['74', 'Belarus', '994,037', '', '7,118                                ', '', '985,592', '', '1,327', '', '105,381', '755', '13,646,641', '1,446,722', '9,432,800 ', 'Europe', '9', '1,325', '1', '', '', '141'], ['75', 'Latvia', '982,280', '', '6,686                                ', '', '971,406', '', '4,188', '', '531,296', '3,616', '7,885,792', '4,265,272', '1,848,837 ', 'Europe', '2', '277', '0', '', '', '2,265'], ['76', 'Saudi Arabia', '841,469', '', '9,646                                ', '', 'N/A', 'N/A', 'N/A', '', '23,475', '269', '45,481,735', '1,268,848', '35,844,909 ', 'Asia', '43', '3,716', '1', '', '', '109'], ['77', 'Paraguay', '837,602', '', '20,155                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '114,648', '2,759', '2,657,506', '363,751', '7,305,843 ', 'South America', '9', '362', '3', '', '', '16,306'], ['78', 'Azerbaijan', '834,649', '', '10,400                                ', '', '824,089', '', '160', '', '81,032', '1,010', '7,748,050', '752,223', '10,300,205 ', 'Asia', '12', '990', '1', '', '', '16'], ['79', 'Bahrain', '729,549', '', '1,574                                ', '', '727,915', '', '60', 'N/A', '408,944', '882', '10,948,549', '6,137,138', '1,783,983 ', 'Asia', '2', '1,133', '0', '', '', '34'], ['80', 'Cyprus', '681,110', '', '1,365                                ', '', '679,745', '', '0', '', '556,741', '1,116', '9,640,118', '7,879,860', '1,223,387 ', 'Asia', '2', '896', '0', '', '', ''], ['81', 'Dominican Republic', '675,890', '', '4,384                                ', '', '671,316', '', '190', '4', '61,131', '397', '3,740,928', '338,350', '11,056,370 ', 'North America', '16', '2,522', '3', '', '', '17'], ['82', 'Sri Lanka', '672,750', '', '16,897                                ', '', '655,852', '', '1', '', '31,181', '783', '6,486,117', '300,619', '21,575,842 ', 'Asia', '32', '1,277', '3', '', '', '0.05'], ['83', 'Kuwait', '667,094', '', '2,570                                ', '', 'N/A', 'N/A', 'N/A', '', '152,293', '587', '8,455,743', '1,930,391', '4,380,326 ', 'Asia', '7', '1,704', '1', '', '', '979'], ['84', 'Myanmar', '641,801', '', '19,495                                ', '', '620,159', '', '2,147', '', '11,621', '353', '11,672,345', '211,352', '55,227,143 ', 'Asia', '86', '2,833', '5', '', '', '39'], ['85', 'Moldova', '634,508', '', '12,206                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '158,106', '3,041', '3,216,305', '801,437', '4,013,171 ', 'Europe', '6', '329', '1', '', '', '29,443'], ['86', 'Estonia', '627,820', '', '3,001                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '474,934', '2,270', '6,944,652', '5,253,498', '1,321,910 ', 'Europe', '2', '440', '0', '', '', '75,519'], ['87', 'Palestine', '621,008', '', '5,404                                ', '', '615,445', '', '159', '', '116,173', '1,011', '3,078,533', '575,907', '5,345,541 ', 'Asia', '9', '989', '2', '', '', '30'], ['88', 'Venezuela', '552,695', '', '5,856                                ', '', '546,537', '', '302', '31', '18,885', '200', '3,359,014', '114,771', '29,266,991 ', 'South America', '53', '4,998', '9', '', '', '10'], ['89', 'Egypt', '516,023', '', '24,613                                ', '', '442,182', '', '49,228', '122', '4,861', '232', '3,693,367', '34,792', '106,156,692 ', 'Africa', '206', '4,313', '29', '', '', '464'], ['90', 'Qatar', '514,524', '', '690                                ', '', '513,687', '', '147', '16', '172,664', '232', '4,065,369', '1,364,257', '2,979,915 ', 'Asia', '6', '4,319', '1', '', '', '49'], ['91', 'Libya', '507,274', '', '6,437                                ', '', '500,835', '', '2', '', '72,048', '914', '2,483,848', '352,782', '7,040,745 ', 'Africa', '14', '1,094', '3', '', '', '0.3'], ['92', 'Ethiopia', '501,117', '', '7,574                                ', '', '488,171', '', '5,372', '', '4,148', '63', '5,565,340', '46,066', '120,812,698 ', 'Africa', '241', '15,951', '22', '', '', '44'], ['93', 'Runion', '494,595', '', '921                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '544,672', '1,014', '1,603,660', '1,766,027', '908,061 ', 'Africa', '2', '986'

In [77]:
headers=[i for i in column_names]
data=[j for j in complete_data[:8]]
output_data = [headers]
print(output_data)
print(data)

[['Names', 'Total Cases', 'New Cases', 'Total Deaths', 'New Deaths', 'Total Recovered', 'New Recovered', 'Active Cases', 'Serious Cases', 'Total tests', 'Population']]
[['1', 'USA', '111,560,998', '', '1,216,375                                ', '', '109,323,566', '', '1,021,057', '1,544', '333,212', '3,633', '1,186,765,074', '3,544,643', '334,805,269 ', 'North America', '3', '275', '0', '', '', '3,050'], ['2', 'India', '45,030,332', '', '533,496                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '32,013', '379', '935,879,495', '665,334', '1,406,631,776 ', 'Asia', '31', '2,637', '2', '', '', '0.8'], ['3', 'France', '40,138,560', '', '167,642                                ', '', '39,970,918', '', '0', '', '612,013', '2,556', '271,490,188', '4,139,547', '65,584,518 ', 'Europe', '2', '391', '0', '', '', ''], ['4', 'Germany', '38,822,474', '', '182,649                                ', '', '38,240,600', '', '399,225', 'N/A', '462,814', '2,177', '122,332,384', '1,458,359', '83,883,596 ', 'Europe', '2', '459', '1', '', '', '4,759'], ['5', 'Brazil', '38,452,504', '', '709,963                                ', '', '36,249,161', '', '1,493,380', 'N/A', '178,555', '3,297', '63,776,166', '296,146', '215,353,593 ', 'South America', '6', '303', '3', '', '', '6,935'], ['6', 'S. Korea', '34,571,873', '', '35,934                                ', '', '34,535,939', '', '0', '', '673,523', '700', '15,804,065', '307,892', '51,329,899 ', 'Asia', '1', '1,428', '3', '', '', ''], ['7', 'Japan', '33,803,572', '', '74,694                                ', '', 'N/A', 'N/A', 'N/A', 'N/A', '269,169', '595', '100,414,883', '799,578', '125,584,838 ', 'Asia', '4', '1,681', '1', '', '', '95,582'], ['8', 'Italy', '26,719,511', '', '196,348                                ', '', '26,351,971', '', '171,192', '45', '443,383', '3,258', '280,517,410', '4,654,904', '60,262,770 ', 'Europe', '2', '307', '0', '', '', '2,841']]

In [78]:
import pandas as pd

In [79]:
for i in range(0, len(data), len(headers)):
        row = data[i:i + len(headers)]
        output_data.append(row)

# for row in output_data:
#     print(row)
df=pd.DataFrame(output_data)
print(df)

                                                  0   \
0                                              Names
1  [1, USA, 111,560,998, , 1,216,375             ...

                                                  1   \
0                                        Total Cases
1  [2, India, 45,030,332, , 533,496              ...

                                                  2   \
0                                          New Cases
1  [3, France, 40,138,560, , 167,642             ...

                                                  3   \
0                                       Total Deaths
1  [4, Germany, 38,822,474, , 182,649            ...

                                                  4   \
0                                         New Deaths
1  [5, Brazil, 38,452,504, , 709,963             ...

                                                  5   \
0                                    Total Recovered
1  [6, S. Korea, 34,571,873, , 35,934            ...

                                                  6   \
0                                      New Recovered
1  [7, Japan, 33,803,572, , 74,694               ...

                                                  7              8   \
0                                       Active Cases  Serious Cases
1  [8, Italy, 26,719,511, , 196,348              ...           None

            9           10
0  Total tests  Population
1         None        None

In [80]:
import csv
csv_file_path = 'output.csv'
with open(csv_file_path, mode='w', newline='') as file:
    writer = csv.writer(file)
    writer.writerows(output_data)
print(f'Data has been saved to {csv_file_path}')
df.to_csv("output.csv", index=False)

Data has been saved to output.csv

Data has been saved to output.csv